{%extends 'admmin/layout.html'%}

{%block title%}Редактирование товара {{product.name_product}}{%endblock%}

{%block content%}
{% load static %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admmin_home'%}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'products'%}">Товары</a></li>
        <li class="breadcrumb-item"><a href="{% url 'product_info_ad' product.id%}">{{product.name_product}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Изменить
            товар</li>
    </ol>
</nav>
<h1 class="">Изменить товар</h1>

<form method="POST" action="{% url 'change_product' product.id %}">
    {% csrf_token %}
    <div class="ml-1 row justify-content-center">


        <div class="col-lg-9">


            <div class="form-group col-lg-9 col-12">
                <label for="exampleInputEmail1"><b>Название</b></label>
                <input class="form-control" name="name_product" value="{{product.name_product}}">

            </div>
            <div class="form-group col-lg-9">
                <label for="exampleInputEmail1"><b>Описание</b></label>
                <input class="form-control">

            </div>
            <div class="form-group col-lg-9">
                <label for="exampleInputEmail1"><b>Категория</b></label>
                <select class="form-control " aria-label="Default select example">
                    <option selected></option>
                    <option value="1">По номеру клиента</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
            <div class="form-group col-lg-9 col-12">
                <label for="exampleInputEmail1"><b>Артикул</b></label>
                <input class="form-control">

            </div>
            <div class="form-group col-lg-9 col-12">
                <label for="exampleInputEmail1"><b>Поставщик</b></label>
                <div class="row ml-1">
                    <input class="form-control col-5 mr-1" disabled>

                    <button type="button" data-toggle="modal" data-target="#exampleModalCenter2"
                        class="btn  btn-light"><i class="fas fa-plus  "></i></button>
                </div>
                <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    Добавить поставщика</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row
                                                justify-content-center">
                                    <div class="form-group col-11">
                                        <label for="exampleInputEmail1"><b>Название</b></label>
                                        <input class="form-control">
                                    </div>



                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-light ml-1 mr-1
                                                mb-1 btn-block">Поиск</button>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-10  mb-2 mt-2">
                                        <div class="card  ">
                                            <div class="card-header">
                                                <table class="table-sm">
                                                    <tr>
                                                        <td><b>Название:</b></td>
                                                        <td>Поставщики на Ленина</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <ul class="list-group list-group-flush">

                                                <li class="list-group-item">
                                                    <table class="table-sm">
                                                        <tr>
                                                            <td><b>Адрес:</b></td>
                                                            <td>Ленина 11</td>
                                                        </tr>
                                                    </table>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn
                                                btn-primary">Добавить</button>
                                    <button type="button" class="btn
                                                btn-secondary" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group col-lg-9 col-12">
                <label for="exampleInputEmail1"><b>Цена</b></label>
                <input class="form-control" name="price" value="{{product.price}}">

            </div>
            <div class="form-group col-lg-9 col-12">
                <label for="exampleInputEmail1"><b>Состав</b></label><button type="button" data-toggle="modal"
                    data-target="#exampleModalCenter1" class="btn
                                btn-light mb-1"><i class="fas fa-plus"></i></button>
                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    Добавить товар</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row
                                                justify-content-center">
                                    <div class="form-group col-11">
                                        <label for="exampleInputEmail1"><b>Артикул</b></label>
                                        <input class="form-control">
                                    </div>



                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-light ml-1 mr-1
                                                mb-1 btn-block">Поиск</button>
                                </div>
                                <div class="row justify-content-center">
                                    <a href="product.html" class="btn
                                                btn-light">
                                        <div class="card" style="width:
                                                    15rem;">
                                            <img class="card-img-top" src="" alt="Card
                                                        image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Белые
                                                    розы</h5>
                                                <p class="card-text">1999
                                                    Р</p>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="form-group col-5">
                                    <label for="exampleInputEmail1"><b>Количество</b></label>
                                    <input class="form-control">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn
                                                btn-primary">Добавить</button>
                                    <button type="button" class="btn
                                                btn-secondary" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Количество</th>
                            <th>Удалить</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><a href="product.html">Белые
                                    розы</a></th>
                            <td>5</td>
                            <td><a href=""><i class="fas
                                                fa-trash-restore"></i></a></td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="product.html">Белые
                                    розы</a></th>
                            <td>5</td>
                            <td><a href=""><i class="fas
                                                fa-trash-restore"></i></a></td>
                        </tr>


                    </tbody>
                </table>
            </div>



            <div class="form-group col-12">
                <table class="table-sm">
                    <tr>
                        <td>
                            <h7><b>Показать на главной</b></h7>
                        </td>
                        <td>
                            <h7>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{product.show}}"
                                        id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">

                                    </label>
                                </div>
                            </h7>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group col-12">
                <label for="exampleFormControlFile1"><b>Добавить
                        фото</b></label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                <div class="mb-2 mt-2 row justify-content-center">
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="card  mb-2" style="width:
                                    10rem;">
                            <div class="row mr-1 ml-auto">
                                <div class="btn btn-light">
                                    <i class="button fas fa-2x fa-times"></i>
                                </div>
                            </div>
                            <img class="card-img-top" src="{{product.photo.url}}"  name="photo" alt="Card image cap">
                            <div class="card-body p-0">
                                <div class="row justify-content-center">
                                    <div class="btn btn-light">
                                        <i class="fas fa-2x
                                                    fa-caret-left mr-1 ml-1"></i>
                                    </div>
                                    <div class="btn btn-light">
                                        <i class="fas fa-2x
                                                    fa-caret-right mr-1 ml-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="card  mb-2" style="width:
                                    10rem;">
                            <div class="row mr-1 ml-auto">
                                <div class="btn btn-light">
                                    <i class="button fas fa-2x fa-times"></i>
                                </div>
                            </div>
                            <img class="card-img-top" src="{{product.photo.url}}" name="photo" alt="Card image cap">
                            <div class="card-body p-0">
                                <div class="row justify-content-center">
                                    <div class="btn btn-light">
                                        <i class="fas fa-2x
                                                    fa-caret-left mr-1 ml-1"></i>
                                    </div>
                                    <div class="btn btn-light">
                                        <i class="fas fa-2x
                                                    fa-caret-right mr-1 ml-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="card  mb-2" style="width:
                                    10rem;">
                            <div class="row mr-1 ml-auto">
                                <div class="btn btn-light">
                                    <i class="button fas fa-2x fa-times"></i>
                                </div>
                            </div>
                            <img class="card-img-top" src="{{product.photo.url}}" name="photo" alt="Card image cap">
                            <div class="card-body p-0">
                                <div class="row justify-content-center">
                                    <div class="btn btn-light">
                                        <i class="fas fa-2x
                                                    fa-caret-left mr-1 ml-1"></i>
                                    </div>
                                    <div class="btn btn-light">
                                        <i class="fas fa-2x
                                                    fa-caret-right mr-1 ml-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="card  mb-2" style="width:
                                    10rem;">
                            <div class="row mr-1 ml-auto">
                                <div class="btn btn-light">
                                    <i class="button fas fa-2x fa-times"></i>
                                </div>
                            </div>
                            <img class="card-img-top" src="{{product.photo.url}}" name="photo" alt="Card image cap">
                            <div class="card-body p-0">
                                <div class="row justify-content-center">
                                    <div class="btn btn-light">
                                        <i class="fas fa-2x
                                                    fa-caret-left mr-1 ml-1"></i>
                                    </div>
                                    <div class="btn btn-light">
                                        <i class="fas fa-2x
                                                    fa-caret-right mr-1 ml-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>


    <div class="row">

        <button type="submit" class="btn btn-secondary d-block ml-auto
        mr-lg-2 col-lg-2 mb-2">Сохранить</button>
        <button type="button" class="btn btn-secondary btn-block mr-lg-3
        mb-2 col-lg-2">Закрыть</button>

    </div>
</form>
{%endblock%}