{%extends 'main/layout.html'%}

{%block title%}Избранное{%endblock%}

{%block content%}
{% load static %}
<head>
  <meta name="description" content="Избранные товары" />

</head>
    <ul class="breadcrumb">
      <li><a href="index.html">Главная</a></li>


      <li>Избранное</li>
    </ul>
    <h1>Избранное</h1>



  <div class="re">
    <ul class="main-menu">
      <li><a href="{% url 'setting' %}">Настройки</a></li>

      <li><a class="active" href="{% url 'favorite' %}">Избранное</a></li>
      <li><a href="{% url 'basket' %}">Корзина</a></li>
      <li><a href="{% url 'history' %}">История заказов</a></li>
      <li><a href="{% url 'home}">Выход</a></li>

    </ul>
      <div class="fil">
        <ul id="accordion" class="accordion">
          <li>
            <a class="link" href="{% url 'setting' %}"></i>Настройки</a>
          </li>

          <li>
            <a class="link" href="{% url 'favorite' %}"></i>Избранное</a>

          </li>
          <li>
            <a class="link" href="{% url 'basket' %}"></i>Корзина</a>

          </li>
          <li>
            <a class="link" href="{% url 'history' %}"></i>История заказов</a>

          </li>
          <li>
            <a class="link" href="{% url 'home' %}"></i>Выход</a>

          </li>


      </ul>
    </div>
    <div class="cat_">
      <div class="cat">
        {% for favorite in favorite %}

 <div class="product-inner" onclick="location.href='{% url 'product_info' favorite.productfav.id%}">
          <div class="product-wrap">
            <img src="{{favorite.productfav.photo.url}}">

          </div>

          <div class="product-info">
            <a class="product-title" href="">{{favorite.productfav.name_product}}</a>
            <br>
            <span class="price"> {{favorite.productfav.price}} ₽</span>
          </div>
          <div class="actions">
            <a href="" class="add-to-cart"><i class="fas fa-shopping-basket"></i> Купить</a>

            <a href="" class="wishlist" id="1"> <i class="fas fa-heart"></i> </a>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </div>
  
  </main>

</body>
{%endblock%}